ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(224, 194, 154);
}
li {
  float: left;
  display: inline;
  text-align: center;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 0.6rem;
}
.container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas:
    'banner banner banner banner banner'
    'banner banner banner banner banner'
    'facebook mask1 mask2 mask2 masks'
    'twitter mask1 mask2 mask2 masks'
    'bday bday makeup costume wig'
    'play sale sale candy great'
    'play santa woman woman freeship'
    'props santa hallow hallow2 witch';
}

.banner {
  grid-area: banner;
  padding-top: 0.5rem;
}
.facebook {
  grid-area: facebook;
  padding-top: 0.5rem;
  grid-column-start: auto;
  grid-row-end: auto;
}
.twitter {
  grid-area: twitter;
  grid-column-start: auto;
  grid-row-end: auto;
}
.masks {
  grid-area: masks;
}
.bday {
  grid-area: bday;
}
.makeup {
  grid-area: makeup;
}
.costume {
  grid-area: costume;
  justify-items: stretch;
}
.wig {
  grid-area: wig;
}

.play {
  grid-area: play;
}
.sale {
  grid-area: sale;
}
.candy {
  grid-area: candy;
}
.great {
  grid-area: great;
}

.santa {
  grid-area: santa;
}
.woman {
  grid-area: woman;
}
.freeship {
  grid-area: freeship;
}
.props {
  grid-area: props;
}
.hallow {
  grid-area: hallow;
}
.hallow2 {
  grid-area: hallow2;
}
.witch {
  grid-area: witch;
}

.mask1 {
  grid-area: mask1;
  justify-items: center;
  padding-top: 10%;
}

.mask2 {
  grid-area: mask2;
}
#addy {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  background-color: burlywood;
  display: block;
  font-size: 0.6rem;
}
